@tailwind base;
@tailwind components;

@font-face {
  font-family: JetBrainsMono;
  src:
    url(/JetBrainsMono-Regular.woff2)
      format("woff2"),
    url(/JetBrainsMono-Regular.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --bg-ornithe: #ffffff;
    --bg-o-transparent: #00000020;
    --bg-input: #e5e5e5;
    --bg-button: #93c5fd;
    --text-ornithe: #000000;
    --tile-bg-lightness: 98%;
    --tile-bd-lightness: 70%;
  }
  :root[class~="dark"] {
    --bg-ornithe: #000000;
    --bg-o-transparent: #ffffff20;
    --bg-input: #171717;
    --bg-button: #172554;
    --text-ornithe: #ffffff;
    --tile-bg-lightness: 5%;
    --tile-bd-lightness: 85%;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1.15rem;
  font-weight: bold;
}

a {
  text-decoration: underline;
}

code {
  @apply bg-ornithe-input-bg p-1;
}
code[class~="dark"] {
  @apply bg-ornithe-input-bg p-1;
}

fieldset {
  @apply flex flex-row items-center gap-2;
}

input {
  @apply text-ornithe-text bg-ornithe-input-bg border-none p-2 w-fit;
}
input[class~="dark"] {
  @apply text-ornithe-text bg-ornithe-input-bg border-none p-2 w-fit;
}

select {
  @apply text-ornithe-text bg-ornithe-input-bg border-none p-2 w-fit;
}
select[class~="dark"] {
  @apply text-ornithe-text bg-ornithe-input-bg border-none p-2 w-fit;
}

div {
  scrollbar-color: var(--text-ornithe) var(--bg-o-transparent);
}

.main-section {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border-top: 1px solid #D0D0D0;
  padding-top: 15px;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1 1 0px;
  margin: 4px 10px;
  padding: 20px;
  border: 2px solid;
}

.empty-tile {
  border-style: none;
}

.purple-tile {
  background-color: hsl(266, 100%, var(--tile-bg-lightness));
  border-color: hsl(266, 100%, var(--tile-bd-lightness))
}

.magenta-tile {
  background-color: hsl(284, 100%, var(--tile-bg-lightness));
  border-color: hsl(284, 100%, var(--tile-bd-lightness))
}

.fuchsia-tile {
  background-color: hsl(326, 100%, var(--tile-bg-lightness));
  border-color: hsl(326, 100%, var(--tile-bd-lightness))
}

.red-tile {
  background-color: hsl(355, 100%, var(--tile-bg-lightness));
  border-color: hsl(355, 100%, var(--tile-bd-lightness))
}

.orange-tile {
  background-color: hsl(28, 100%, var(--tile-bg-lightness));
  border-color: hsl(28, 100%, var(--tile-bd-lightness))
}

.amber-tile {
  background-color: hsl(50, 100%, var(--tile-bg-lightness));
  border-color: hsl(50, 100%, var(--tile-bd-lightness))
}

.yellow-tile {
  background-color: hsl(66, 100%, var(--tile-bg-lightness));
  border-color: hsl(66, 100%, var(--tile-bd-lightness))
}

.lime-tile {
  background-color: hsl(82, 100%, var(--tile-bg-lightness));
  border-color: hsl(82, 100%, var(--tile-bd-lightness))
}

.green-tile {
  background-color: hsl(136, 100%, var(--tile-bg-lightness));
  border-color: hsl(136, 100%, var(--tile-bd-lightness))
}

.cyan-tile {
  background-color: hsl(160, 100%, var(--tile-bg-lightness));
  border-color: hsl(160, 100%, var(--tile-bd-lightness))
}

.light-blue-tile {
  background-color: hsl(196, 100%, var(--tile-bg-lightness));
  border-color: hsl(196, 100%, var(--tile-bd-lightness))
}

.dark-blue-tile {
  background-color: hsl(240, 100%, var(--tile-bg-lightness));
  border-color: hsl(240, 100%, var(--tile-bd-lightness))
}

/*If someone could get a tailwind.css file working I'd be grateful. -worldwidepixel*/

@tailwind utilities;
