---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<script type="module" src="/develop.js" defer></script>

<Layout title="Develop - OrnitheMC">
  <main class="flex flex-col gap-4">
    <!-- Familiar, eh? -wwp -->
    <h1>Develop</h1>
    <div id="subtitle">
      This page provides resources to help mod developers create and maintain their projects.
    </div>
    <div id="links" class="main-section">
      <div class="row">
        <div class="column">
          <h2>Getting started</h2>
          <span>
            The wiki provides information on how to create mods
            as well as detailed looks into mod development tools.
          </span>
          <br/><br/>
          <Button
            title = "Ornithe Wiki"
            href = "https://wiki.ornithemc.net"
          />
        </div>

        <div class="column tile empty-tile"></div>

        <div class="column">
          <h2>Project templates</h2>
          <span>
            The mod templates are curated starting points for
            Ornithe mod development projects.
          </span>
          <br/><br/>
          <Button
            title = "Ornithe Mod Template"
            href = "https://github.com/OrnitheMC/ornithe-mod-template"
          />
        </div>
      </div>
    </div>
    <div id="versions" class="main-section">
      <div class="flex flex-col gap-2 items-start">
        <h2>Latest versions</h2>
        <label for="mc-version">Select a Minecraft version</label>
        <input type="text" id="mc-version" list="version-list" value="1.7.2" />
        <datalist id="version-list">
          <option value="1.7.2"></option>
          <!-- DO NOT INSERT ANYTHING HERE -->
          <!-- Data here will be inserted by JavaScript -->
        </datalist>
        
        <fieldset id="mod-loader-selectors">
          <legend>Select a mod loader</legend>
          <input type="radio" id="mod-loader-fabric" name="modLoader" checked />
          <label for="mod-loader-fabric">Fabric</label>

          <input type="radio" id="mod-loader-quilt" name="modLoader" />
          <label for="mod-loader-quilt">Quilt</label>
        </fieldset>

        <fieldset id="calamus-gen-selectors">
          <legend>Select a Calamus (intermediary) generation</legend>
          <input
            type="radio"
            id="generation-gen1"
            name="calamus-generation"
            checked
          />
          <label for="generation-gen1">Gen1</label>

          <input type="radio" id="generation-gen2" name="calamus-generation" />
          <label for="generation-gen2">Gen2</label>
        </fieldset>

        <fieldset id="dependency-management-selectors">
          <legend>Select a dependency management solution</legend>
          <input
            type="radio"
            id="dependency-properties-file"
            name="dependency-management"
            checked
          />
          <label for="dependency-properties-file">Properties File</label>

          <input type="radio" id="dependency-version-catalog" name="dependency-management" />
          <label for="dependency-version-catalog">Version Catalog</label>
        </fieldset>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div class="row">
        <div class="column">
          <h3>Dependency Management</h3>
          <br/>
          <div id="gradle.properties">
            <code>./gradle.properties</code>
            <pre class="code-block" id="gradle.properties.content"></pre>
            <br/>
          </div>
          <div id="client.gradle.properties">
            <code>./client/gradle.properties</code>
            <pre class="code-block" id="client.gradle.properties.content"></pre>
            <br/>
          </div>
          <div id="server.gradle.properties">
            <code>./server/gradle.properties</code>
            <pre class="code-block" id="server.gradle.properties.content"></pre>
            <br/>
          </div>
          <div id="version-catalog">
            <code>./gradle/libs.versions.toml</code>
            <pre class="code-block" id="version-catalog.content"></pre>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3>Mod metadata</h3>
          <br/>
          <div id="fabric.mod.json">
            <code>./src/main/resources/fabric.mod.json</code>
            <pre class="code-block" id="fabric.mod.json.content"></pre>
          </div>
          <div id="quilt.mod.json">
            <code>./src/main/resources/quilt.mod.json</code>
            <pre class="code-block" id="quilt.mod.json.content"></pre>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column" id="build script">
          <h3>Build script</h3>
          <br/>
          <div id="build.gradle">
            <code>./build.gradle</code>
            <pre class="code-block" id="build.gradle.content"></pre>
          </div>
          <br/>
          <div id="client.build.gradle">
            <code>./client/build.gradle</code>
            <pre class="code-block" id="client.build.gradle.content"></pre>
          </div>
          <br/>
          <div id="server.build.gradle">
            <code>./server/build.gradle</code>
            <pre class="code-block" id="server.build.gradle.content"></pre>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
